<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


  <display-name>Heap Monitor Application</display-name>

  <filter>
    <filter-name>monitor</filter-name>
    <filter-class>net.sourceforge.heapmonitor.MemoryMonitorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>monitor</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>




  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <description>Default role</description>
    <role-name>everybody</role-name>
  </security-role>

  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Admin Realm</realm-name>
  </login-config>
  
</web-app>
